# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
.terraform.lock.hcl

# LocalStack & Docker
.localstack/
docker-compose.override.yml

# Logs e Arquivos Temporários (O "Lixo")
*.log
stress_*.log
log_producao.log
*.txt

# Segredos e IDE
.env
.vscode/
.idea/
*.swp